<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AllThingsCURLY</title>
        <style>
            body {
                background-color: #D8BFD8;
                margin: 0;
                font-family: Arial, sans-serif;
            }
    
            .header {
                position: relative;
                padding: 10px;
                text-align: center;
                background: #915F6D;
                color: white;
            }
    
            /*.logo {
                position: absolute;
                left: 10px;
                top: 10px;
            }*/
    
            h1 {
                font-size: 36px;
                margin: 0;
            }
    
            .parent {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                padding: 10px;
            }
    
            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }
    
            .article {
                padding: 20px;
                box-sizing: border-box;
            }
    
            h1, h3, p {
                margin-bottom: 10px;
            }
    
            h3 {
                font-size: 24px;
            }
    
            p {
                font-size: 18px;
            }
    
            footer {
                text-align: center;
                padding: 10px;
                background-color: #9F2B68;
                color: white;
            }
    
            @media screen and (min-width: 600px) {
                .parent {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
    
            @media screen and (min-width: 900px) {
                .parent {
                    grid-template-columns: repeat(3, 1fr);
                }
    
                .article {
                    padding: 20px 80px;
                }
            }
        </style>
    </head>
<body>
    <div class="header">
        <h1>AllThingsCURLY</h1>
      
        <!--<div class="logo"> 
            <img src="C:\Users\prera\Downloads\All-things-curly-transformed (1).png" style="width:80px;height:80px" > 
        </div><--> 
    </div>
    
    <div class="parent">

        <div>
        <img src="https://patternbeauty.com/cdn/shop/articles/How_To_Use_Hair_Mousse_For_Curls_FT.jpg?v=1655397526" style="width:500px;height:400px" >
        </div>
        <div >
        <img src="https://ootdiva.com/wp-content/uploads/2023/01/curly-hair-woman-care-tips.jpeg" style="width:500px;height:400px">
        </div>
        <div>
        <img src="https://cdn.brunetteonamission.com/do_not_dry_brush_or_comb_curly_hair.jpg" style="width:500px;height:400px">
        </div>
        </div>
        <div class="article">
        <h1 style="font-style: oblique; font-size: 60px;text-align:center"> How To Take Care <br> Of Your Naturally Curly Hair? </h1>
        <h3>1. Choose Shampoo Wisely</h3>
        
        <p>Naturally textured hair should be cleaned at least once weekly to maintain a healthy scalp and hair,The cleansing
            process is the most important part of any hair care routine as it provides the hair with the best and effective
            source of moisture and establishes a blank slate for a styling product to work most efficiently.</p>
        <p>Curly hair is prone to dryness, which is why once a week is typically a good balance for holding on to the hair's 
           natural oils without causing any other hair concerns. Depending on your scalp type (i.e. if you are dry or oily),
           you may be able to get away with washing less or more frequently. That said, a general rule of thumb to follow is
           to wash weekly to avoid product build-up or excessive oil production.</p>

        <h3>2. Detangle Curly Hair Before Washing</h3>
        <p>Before cleansing the hair, it needs to be detangled.Applying water to tangled hair will cause it to lock up. 
           You can detangle the hair just using water, but using a detangling spray will create more slip and lead to an easier process. </p>

        <h3>3. Use the Right Shampoo for Your Hair Concerns</h3>
        <p>Styling products are necessary for curly hair. However, many styling products are heavy and not water-soluble,
           which can cause product build-up.If hair does not sud up upon first cleanse, it is a definite sign that you have product build-up,
           and additional cleaning is needed. On the days when you don't need a deep clean, choose a moisturizing shampoo.</p>
        <h3>4. Steam Your Hair</h3>
        <p>For the most defined and healthy-looking curls, moisture is everything. The heat alters the hair's physical state and 
            the steam opens up the hair cuticle, giving more access to deeper layers of the hair strand and helps deliver the moisturizing
             ingredients of your conditioner to inside the hair cuticle.</p>
        <h3>5. Use Conditioner the Right Way</h3>
        <p>We're all guilty of applying conditioner and leaving it in our hair for longer than suggested in hopes of getting softer, smoother hair. 
           However, doing so may be causing more harm than good.Note that most of the work that a conditioner will do is done within 15 minutes.
           After that, nothing else is happening but clogged cuticles."</p>
        <p>Additionally, not thoroughly rinsing out your conditioner can make styling more difficult. I know we love the soft feeling of our hair the
           conditioner provides, but if the conditioner is not rinsed out completely, it creates a barrier, making it challenging to absorb any styling
           products that may follow</p>
        <p>Essentially, use your conditioning products as directed on the packaging, which typically is on damp hair throughout the mid-lengths
           and ends of the hair. You'll know the conditioner is evenly applied with the right amount of water and absorbing into the hair cuticle 
           if the hair feels slimy with the conditioner in it.</p>
        <h3>6. Learn About Your Hair's Porosity</h3>
        <p>It is important to identify your hair's porosity when choosing a product to ensure the product can be adequately absorbed.
           Hair porosity describes the hair's ability to absorb water. There are three levels of porosity — low, medium, and high.
           Lower porosities struggle with absorption because the flaps of the hair cuticle lay flat to the hair strand.
           It's best to use light products like foams and mousses to help the cuticle absorb the product.</p>
           </div>
    </body>
</html>
