<!DOCTYPE html>
<html>
  <head>
    <title>Curly tales</title>
  </head>
  <style>
  .container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #7c307c;
    padding: 10px;
    margin: 8px;
    
}

.container:hover{
    background-color:#C3B1E1 ;

}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.article{
    padding-left: 80px;
        }
    
body{
     background-color: #D8BFD8	;
           
}
        .header {
            position:relative;
            padding:2px;
            text-align: center;
            background:#915F6D ;
            color: white;
            font-style:Arial Narrow;
            width:100%
        }
    /*.logo{ 
            position:fixed;
            left:1; 
            top:1%
        }*/
        footer {
text-align: center;
padding: 3px;
background-color: #9F2B68;
color: white;
          } 
  </style>
  <body>
    <div class="header">
        <h1>AllThingsCURLY</h1>
      
       <!-- <div class="logo"> 
            <img src="C:\Users\prera\Downloads\All-things-curly-transformed (1).png" style="width:80px;height:80px" > 
        </div><-->
    </div>
    
    <div class="article">
        <h1 style="font-style: oblique; font-size: 60px;text-align:center">A Brief History Of Curly Hair – 100 Years Of Getting In Formation</h1>
    <div class="container">
      <div class="image">
        <img src="https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/Featured-image-Subrina-Kidd-DSC_0342-2-2.png" alt="A brief history of curly hair – 100 years of getting in formation">
      </div>
      <div class="text">
        <p>Throughout history, curls have been coiffed, relaxed, slathered in chemicals and now with the rise of the natural hair movement, thankfully embraced. To celebrate every kink, coil, wave we've put together a potted 100-year history of curly hair, with a little expert help from <em>The Hair Historian</em> Rachael Gibson.
        <h3>1920s Eton Crop and Marcel Wave</h3></p>
      </div>
    </div>
    <br>

    <div class="container">
    <div class="image">
        <img src="https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/shutterstock_editorial_510188b-e1571750035317.jpg" >
    </div>
    <div class="text">
       <p> In the 1920s women’s, sharp and styled. Whether you were rocking a Marcel Wave or sporting an Eton Crop – it was all about a perfectly slick curl.
        The Hair Historian: “Short hair was a controversial choice in the 1920s as it was seen as unfeminine. Women that did dare to go short were regarded as bold, rebellious and independent – just like actress and dancer Josephine Baker. Her trademark spit curls on each cheek added a cartoonish femininity to her cropped hair and provided detail in an era when hats were de rigeur.”
        <h3>1938 – Denman is born</h3></p>
    </div>
    </div>
    <br>

    <div class="container">
        <div class="image">
            <img src="https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/USE-THIS-ONE-AS-A-PRIORITY-DENMAN_patentORG.jpg"  >
        </div>
        <div class="text">
            <p>In 1938, driven by a desire to help his sister style her beautiful curly yet unruly hair, John Denman Dean created a revolutionary styling brush, now known as The D3. And Denman is still innovating – the brand has recently launched its D4 Original Styler 9 Row - Kyoto Cherry Blossom which shapes, defines curls, detangle and smooths the hair.
            <h3>1940s Veronika Lake Waves<strong>
            </strong></h3></p>
        </div>
        </div>
        <br>

    <div class="container">
        <div class="image">
            <img src="https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/1940-Veronica-Lake-.jpg"   >
        </div>
        <div class="text">
            <p>Long and beautifully glossy, everyone wanted the waves of Film Noir actress Veronica Lake.
        HH: “During a publicity shoot, a strand of Veronica’s hair kept falling across her right eye. The photographer was captivated, and it fast became her signature style, earning the actress the nickname of the ‘peek-a-boo girl’. Veronica’s style was emulated by women across America – until World War II struck, and the US war department declared the hairstyle too dangerous to be worn for work in factories. Veronica was forced to appear in an advert advising women to wear their hair in an updo, as a safer, but still A-list approved, look.”
        <h3>1950s Hollywood Curls</h3></p>
        </div>
        </div>
        <br>

        <div class="container">
            <div class="image">
                <img src= "https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/shutterstock_225835600.jpg"  >
            </div>
            <div class="text">
              <p>Marilyn Monroe, Elizabeth Taylor, Dorothy Dandrige… an array of girls with curls (natural or otherwise) starred in the lead roles of Hollywood movies. They set the trend for women using curling aids such as hot rollers, heated bristle brushes and copious amounts of hairspray.
                HH: “Although heated hair tools had been around almost since time began, hot rollers as we know them became popular in the 1950s. In 1959, Sicilian inventor Julian Rizzuto created a fast-drying bristle brush roller which gained popularity worldwide – and that company would go on to become Conair. Roller-setting hair became a weekly occurrence for many women, creating the base for bouffant styles and curled looks.”
                <h3>1960s Civil Rights Natural Hair Movement</h3></p>
            </div>
            </div>
            <br>

            <div class="container">
                <div class="image">
                    <img src= "https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/shutterstock_editorial_25687c.jpg" >
                </div>
                <div class="text">
                  <p>Black women who had previously straightened their hair were influenced by the Civil Rights Movement and jazz musicians such as Nina Simone to leave their hair in its natural form.
                    HH: “For centuries, people with Afro hair were persecuted in America and Europe for their appearance, so the arrival of the Civil Rights movement in the 1960s, and the accompanying ‘black is beautiful’ mantra, was a defiant moment. Many African Americans chose to grow their hair longer and wear it naturally, signifying pride in their heritage and protesting racial discrimination and ‘established’ standards of beauty.”
                    <h3>1970s D.I.S.C.fro</h3></p>
                </div>
                </div>
                <br>

                
            <div class="container">
                <div class="image">
                    <img src= "https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/Screen-Shot-2019-10-10-at-12.37.06.jpg" >
                    </div>
                    <div class="text">
                      <p>Donna Summer and Diana Ross inspired a generation to wear their hair big and brushed-out.
                        HH: “From big disco curls to long hippie lengths, many of the most significant beauty trends from the 1970s were about a rejection of what had gone before; where parents had been neat 1950s preps, the following generation wanted to rebel with styles that reflected a changing society and diverse cultural trends. It was the era of cheap and safe home styling tools and mega salons like TONI&amp;GUY, who brought high fashion looks to the high street.”
                        <h3>The 1980s Jheri Curl</h3></p>
                    </div>
                    </div>
                    <br>

                    <div class="container">
                        <div class="image">
                            <img src= "https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/1984-ouidad-1oVNSTqf.jpg" >
                            </div>
                            <div class="text">
                            <p> Ouidad (the name of the salon and founder, FYI) began creating products specifically formulated for curly hair with an emphasis on caring for curls rather than straightening or chemically altering the hair structure. Today many women find it easy to manage their hair through identifying their specific curly hair type – an idea popularised by Ouidad in the 1980s, when she started to classify hair in her curl-specialist salon as Loose, Classic, Tight and Kinky. The  range is now available in the UK, distributed by Wonderful Brands.
                                <h3>1990s R&amp;B Divas</h3>
                            </p>
                            </div>
                            </div>
                            <br>               

                    <div class="container">
                        <div class="image">
                            <img src="https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/1990s-Destinys-Child-shutterstock_1295586298.jpg" >
                        </div>
                        <div class="text">
                          <p>It was all about , thanks to R&amp;B stars such as Mary J Blige and Destiny’s Child. Although these celebrities likely wore curled wigs, weaves and hair pieces, everyday women turned to hot tools to emulate their favourite stars’ locks.
                            “The early 1990s was an exciting time for product development, with hot tools created to crimp, curl and straighten the hair. Although professional products were available, they were not of the same quality that we demand today – for most people results were more important than hair quality. Heat protectant sprays were not a priority, and as clients turned up the temperature to create curls at home, hair health suffered.”
                            <h3>2000s Brazilian Blow-dry Craze</h3></p>
                        </div>
                        </div>
                        <br>
        
        
                    <div class="container">
                        <div class="image">
                            <img src= "https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/shutterstock_279163187.jpg" >
                            </div>
                            <div class="text">
                               <p> With the aim of leaving curly hair smoother, more manageable and frizz-free, the Brazilian blow-dry sounded like the holy grail for curly-haired women.
                                HH: “The Brazilian blow-dry was a huge trend in the 2000s. Treatments used keratin and other proteins to strengthen and hydrate the hair, but as with most miracle trends, it wasn’t quite as straightforward as frizz-fearers were led to believe. Cheaper treatments contained dangerous chemicals like formaldehyde and the process of application could be time-consuming with unpleasant residual smells.”
                                <h3><strong>Present Day – <b>The Natural Hair Movement 2.0</b></strong></h3></p>
                            </div>
                            </div>
                            <br>

            <div class="container">
                <div class="image">
                    <img src="https://pb-hji-production.s3.eu-west-2.amazonaws.com/2019/10/Present-Day-Subrina-Kidd-DSC_0338-2-3.png" alt="subrina Kidd history of curly hair"  >
                    </div>
                    <div class="text">
                    <p> It’s cool to be woke. Activism and awareness has crept into more areas of our lives and we’re embracing individuality more and more. Coupled with an increase in knowledge about curly hair we’re entering an exciting phase for curl innovation.
                        HH: “Social media has provided more diverse role models who have formed networks of like-minded followers. Where once we relied on friends and family for hair advice, now people look online for tutorials and product recommendations. From insight into The Curly Girl Method to easy access to products no matter where you are in the world, it’s perhaps easier than ever to maintain and embrace curls. And as diversity continues to move from a trend to a way of life – finally – the impact isn’t going unnoticed by brands, who are now launching more inclusive product ranges.”
                    </p>
                    </div>
                    </div>
                    <br>

                    <footer>
                        <p>#CurlBOSS<br>
                        <a href="preranameda04@gmail.com" style="color: white;">allthingscurly@gmail.com.com</a></p>
                      </footer>
    

    </div>

  </body>
</html>
</body>
</html>