<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
body {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/hair-plopping1-1554455262.jpg?crop=0.6675004810467577xw:1xh;center,top&resize=2048:*");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}
p{
    font-size: 20px;
}
.header {

position:relative;
 padding:2px;
 text-align: center;
 background:#915F6D ;
 color: white;
 font-style:Arial Narrow;
 width:100%

}
/*.logo{ 
position:fixed;
left:1; 
top:1%
}*/ 

mark {
  
  color:black;
  background-color: rgba(233, 180, 233, 0.807);

}
.article{
padding-left: 80px;
 }

footer {
text-align: center;
padding: 3px;
background-color: #9F2B68;
color: white;
          }

</style>
</head>
<body>
    <div class="header">
        <h1>AllThingsCURLY</h1>
      
        <!--<div class="logo"> 
            <img src="C:\Users\prera\Downloads\All-things-curly-transformed (1).png" style="width:80px;height:80px" > 
        </div><--> 
    </div>
   
    <h1 style="font-style: oblique; font-size: 60px;text-align:right">The Secret of Healthy <br> Hair:Understanding <br> Hair Porosity </h1>
    <br><br>
    <div class="article">
    <p ><mark  >Different porosities require different care, and making sure they get it is the secret to enviable curls. It is possible to have different levels of porosity within your curly hair, especially if you are transitioning to natural hair. You may find that your roots are low or medium porosity, whilst your ends that have seen straighteners, bleach and more may be high porosity. If this is the case you should always treat your hair for the highest level of porosity it has, as that's the area that requires more care and attention. Ideally, you should be looking to achieve and maintain the perfect protein moisture balance every wash day.</mark></p>
    <br>
    <p style="font-size: 30px"><mark>HOW TO TEST HAIR POROSITY?</mark></p>
    <p><mark>The first is the glass of water test. Simply take a clean, product-free strand of loose hair and put it in a glass of water. If the hair floats at the top then it is low porosity, if it sinks slowly or settles in the middle it is medium/normal porosity, and if it sinks straight to the bottom then it is high porosity.
    <br>The other way to test is to simply run your fingers down a hair strand to feel its texture. If the hair feels smooth then it is low porosity, if it is rough or bumpy then it is high porosity.
    </mark></p>
    
    <p style="font-size:30px"><mark>WHAT ARE THE DIFFERENT POROSITY TYPES?
    </mark>
    </p>
    <p><mark>Grade 1 Porosity: virgin hair that has been exposed to little or no environmental damage. This is very hard to find, and it’s more common in straight hair types. The cuticles on this hair are extremely tight, and they don’t allow moisture in or out. The hair feels smooth and looks very shiny with no product. <br>
        Grade 2 Porosity: this is still natural virgin hair, but it’s been exposed to some type of environmental damage. This applies to most people with virgin hair. The hair is still very healthy and easy to manage. It doesn’t tangle too much and looks shiny. The cuticles are still very tight and it’s hard to make the moisture penetrate in the hair 
    <br>Grade 3 Porosity: this is hair that’s been altered and coloured up to 5 shades lighter. Since it’s been through some chemical processing, it has some level of damage. The cuticles are halfway open, they allow moisture in but they also start losing it more easily.
    <br>Grade 4 Porosity: this is hair that’s been bleached and lightened up to 7 shades lighter. This hair is quite compromised, as it’s been through a lot of chemical processing, so it will need additional care and attention. The cuticles here are open, so it needs lots of moisture because it also loses it very easily.
    <br>Grade 5 Porosity: this hair is too compromised to save. There is no cuticle left on the strands, you only see the inner part of the hair (called medulla). Because there is no structure left, the hair will feel gummy to the touch and break whenever you run your fingers through it. The only way to fix level 5 porosity hair is by cutting it.</mark></p>
        <br>
    <p><mark>Porosity grades are universally grouped in 3 categories: grade 1 and 2 are known as low porosity, grade 3 is known as medium porosity and grade 4 and 5 are known as high porosity. The higher the porosity grade, the more protein-rich products you should incorporate in your routine to strengthen the cuticle structure and allow it to keep moisture inside the hair shaft.</mark></p>
</div>
<br>
    <footer>
        <p>#CurlBOSS<br>
        <a href="preranameda04@gmail.com" style="color: white;">allthingscurly@gmail.com.com</a></p>
      </footer>
</body>
</html>