<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hair Types</title>
  <link rel="stylesheet" href="hair_t.css">
</head>
<body>
  <section class="hair-types">
    <h1>Type 1</h1>
    <h2>Straight Hair</h2>
    <div class="hair-grid">
      <article class="hair-type">
        <h2>1A</h2>
        <p>Type 1 hair has no natural curl. The individual strands may be fine or coarse, thick or thin, but they fall without waving from root to tip.</p>
      </article>
      <article class="hair-type">
        <h2>1B</h2>
        <p>1B hair is still pretty straight but tends to have a bit more body and a slight bend towards the end of each strand. 1B hair should hold a curl more easily than 1A hair.</p>
      </article>
      <article class="hair-type">
        <h2>1C</h2>
        <p>1C hair tends to feature strands that lie flat at the root with subtle body, arcs, and bends throughout the mid-sections. It can hold a curl and air dries like a dream.</p>
      </article>
      </div>
  </section>
  <section class="hair-types">
    <h1>Type 2</h1>
    <h2>Wavy Hair</h2>
    <div class="hair-grid">
      <article class="hair-type">
        <h2>2A</h2>
        <p>The natural state of type 2 hair is a gentle, tousled texture. From the roots to around eye level, your hair is fairly straight. And from eye level to the ends, you have a loose, undefined wave.

            To keep from flattening out that wave, steer clear of oil-based or creamy products. Instead, stylists recommend that you boost the base with a light mousse or use a gel to define those waves.</p>
      </article>
      <article class="hair-type">
        <h2>2B</h2>
        <p>As with 2A, type 2B hair curls from the midpoint to the ends. The curls have a more defined S shape. It may require a little more effort to straighten, but it’s easy to create that beachy look with a spritz of salt spray.

            Type 2B is ideal for the balayage trend, where stylists hand-paint color on the outer layer of hair.</p>
      </article>
      <article class="hair-type">
        <h2>2C</h2>
        <p>The most well-defined S-shaped waves are type 2C. The wave pattern may begin close to the crown and tumble downward. Type 2C hair is often thick and can be prone to frizz in damp weather.</p>
      </article>
      </div>
  </section>
  <section class="hair-types">
    <h1>Type 3</h1>
    <h2>Curly Hair</h2>
    <div class="hair-grid">
      <article class="hair-type">
        <h2>3A</h2>
        <p>With type 3A hair, S-shaped curls form loose loops. The curls have a circumference a little wider than the large end of a taper candle. One important styling note: Brushing this type of hair can wreck curl definition and lead to a frizzy mane.</p>
      </article>
      <article class="hair-type">
        <h2>3B</h2>
        <p>Type 3B curls have a circumference about as wide as the barrel of a Sharpie marker. Curls spring from the roots and have ample volume. To maintain their characteristic spiral shape, these ringlets generally need moisture.

            Avoid silicone and sulfates in your curl products, though. They may temporarily tame frizz, but they can dry hair over time and lead to breakage.</p>
      </article>
      <article class="hair-type">
        <h2>3C</h2>
        <p>These curls are tight and springy — they would coil perfectly around a drinking straw. To preserve the definition in these corkscrew curls, take a hands-on approach.</p>
      </article>
      </div>
  </section>
  <section class="hair-types">
    <h1>Type 4</h1>
    <h2>Coily Hair</h2>
    <div class="hair-grid">
      <article class="hair-type">
        <h2>4A</h2>
        <p>The curl pattern for 4A hair is an S-shaped coil you could wrap around a chopstick.

            “Type 4 hair is the most delicate hair type,” Castillo said. “You have to be very gentle with it, and it needs a lot of moisture.” But getting moisture doesn’t necessarily mean using oils. Deep conditioning masques, butters, and creams are good options for preserving hair health.</p>
      </article>
      <article class="hair-type">
        <h2>4B</h2>
        <p>The curls in 4B hair zig-zag. One popular technique for defining and accentuating your curls is shingling.

            Shingling begins with wet hair. Gently detangle with your fingertips, using liberal amounts of leave-in conditioner to moisturize and condition. Then separate your hair into four sections.</p>
      </article>
      <article class="hair-type">
        <h2>4C</h2>
        <p>Type 4C coils are the tightest and most fragile. It’s really easy to break them if you comb roughly or too often, and it’s vital to frequently nourish the hair with rich conditioners.

            Coconut oils are still popular, as are shea butter creams. More people are ditching shampoo for co-washing, or rinsing the hair with conditioners instead.</p>
      </article>
      </div>
  </section>
  
</body>
</html>