<!DOCTYPE html>
<html>
    <head>
        <title>All Things Curly | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="stylestore.css" />
        <script src="store.js" async></script>
    </head>
    <body>
        <header class="main-header">
            <h1 class="band-name"><b>SHOPPING</b></h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">Type 1: Straight Hair</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Nourishing Shampoo</span>
                    <img class="shop-item-image" src="Type 1 Shampoo.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 300</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Shine restore Conditioner</span>
                    <img class="shop-item-image" src="Type 1 Conditioner.JPG">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 360.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Multiactive Serum</span>
                    <img class="shop-item-image" src="Type 1 Serum.JPG">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 200</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Type 2: Wavy Hair</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Frizz-free Shampoo</span>
                    <img class="shop-item-image" src="Type 2 Shampoo.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 280</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Bond repair Conditioner</span>
                    <img class="shop-item-image" src="Type 2 Conditioner.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 300</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hair Mousse</span>
                    <img class="shop-item-image" src="Type 2 Mousse.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 290.88</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Type 3: Curly Hair</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Bounce Restore Shampoo</span>
                    <img class="shop-item-image" src="Type 3 Shampoo.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 370</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Split-free Conditioner</span>
                    <img class="shop-item-image" src="Type 3 Conditioner.JPG">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 400.05</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Moisturizing Hair Mask</span>
                    <img class="shop-item-image" src="Type 3 Mask New.webp">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 350</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Type 4: Coily Hair</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Probiotic Shampoo</span>
                    <img class="shop-item-image" src="Type 4 Shampoo.webp">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 310.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Shrinkage-boost Conditioner</span>
                    <img class="shop-item-image" src="Type 4 Conditioner.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 410</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Hydrating Hair cream</span>
                    <img class="shop-item-image" src="Type 4 Hair Cream.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">INR 260</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">INR 0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">All Things Curly</h3>
                <!--<ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/YouTube Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul><-->
            </div>
        </footer>
    </body>
</html>